services:
  visitor:
    build: .
    container_name: visitor-app
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - PORT=8080
      - ENV=production
